@page
@model RegisterModel
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Register";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create New Account</h1>
                    </div>
                    <form class="user" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input asp-for="Input.FirstName" class="form-control form-control-user" placeholder="@Html.DisplayNameFor(x => x.Input.FirstName)" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="Input.LastName" class="form-control form-control-user" placeholder="@Html.DisplayNameFor(x => x.Input.LastName)" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control form-control-user" placeholder="@Html.DisplayNameFor(x => x.Input.Email)" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input asp-for="Input.Password" class="form-control form-control-user" placeholder="@Html.DisplayNameFor(x => x.Input.Password)" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" placeholder="@Html.DisplayNameFor(x => x.Input.ConfirmPassword)" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.RegistrationToken" class="form-control form-control-user" placeholder="@Html.DisplayNameFor(x => x.Input.RegistrationToken)" />
                            <span asp-validation-for="Input.RegistrationToken" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" asp-page="./ForgotPassword">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" asp-page="./Login">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
